.cache
Error
Out
GLIF_network
Simulation_results
Metrics_analysis
load_sparse_profiling.ipynb
pruebas.ipynb
new_pruebas.ipynb
*__pycache__*
.ipynb_checkpoint*
Model_utils/.cache
Model_utils/Other
lgn_model/data
Benchmark_models
borrar.py
Time_to_first_spike_analysis/Data
Time_to_first_spike_analysis/Raster_plots
Time_to_first_spike_analysis/tfs_data
Time_to_first_spike_new_model/tfs_data
spikes_test.pkl
OSI_DSI_dataset
receptive_field_analysis/Data
receptive_field_analysis/Data_10trials
receptive_field_analysis/Data_50trials
receptive_field_analysis/Data_disconnected
receptive_field_analysis/Raster_plots
receptive_field_analysis/size_tunning_classical_connected
receptive_field_analysis/size_tunning_classical_disconnected
receptive_field_analysis/size_tunning_inverse_connected
receptive_field_analysis/size_tunning_inverse_disconnected
receptive_field_analysis/RFs
receptive_field_analysis/size_tunning_all_plots
receptive_field_analysis/rf_data
receptive_field_new_model/Data_connected
receptive_field_new_model/Data_disconnected
receptive_field_new_model/Data_connected_all
receptive_field_new_model/size_tuning_connected_classical
receptive_field_new_model/size_tuning_disconnected_classical
receptive_field_new_model/size_tuning_connected_inverse
receptive_field_new_model/size_tuning_disconnected_inverse
Time_to_first_spike_new_model/Data
multi_training_distributed.py
v1_lm_spikes.pkl
Borrar/Populations activity/prueba.png
Neuropixels_platform_paper/data/sub-703279277_ses-719161530.nwb
