.cache
Error
Out
GLIF_network
Simulation_results
Metrics_analysis
load_sparse_profiling.ipynb
pruebas.ipynb
new_pruebas.ipynb
*__pycache__*
.ipynb_checkpoint*
Model_utils/.cache
Model_utils/Other
lgn_model/data
Benchmark_models
borrar.py
spikes_test.pkl
OSI_DSI_dataset
multi_training_distributed.py
v1_lm_spikes.pkl
Borrar/Populations activity/prueba.png
Neuropixels_platform_paper/data/sub-703279277_ses-719161530.nwb

receptive_field_0724/Raster_plots
receptive_field_0724/rf_data
receptive_field_0724/size_tunning_classical_connected
receptive_field_0724/size_tunning_classical_disconnected
receptive_field_0724/size_tunning_inverse_connected
receptive_field_0724/size_tunning_inverse_disconnected

receptive_field_0824/Data_connected
receptive_field_0824/Data_disconnected
receptive_field_0824/Data_connected_all
receptive_field_0824/size_tuning_connected_classical
receptive_field_0824/size_tuning_connected_inverse
receptive_field_0824/size_tuning_disconnected_classical
receptive_field_0824/size_tuning_disconnected_inverse

receptive_field_0824/baseline_rate_neurons_v1_dis_white.pkl
receptive_field_0824/baseline_rate_neurons_v1_white.pkl

Time_to_first_spike_0724/tfs_data
Time_to_first_spike_0724/Raster_plots

Time_to_first_spike_0824/tfs_data
Time_to_first_spike_0824/Raster_plots
Time_to_first_spike_0824/Data
Time_to_first_spike_0924/Data

receptive_field_0924/Data_connected
receptive_field_0924/Data_disconnected
